Business Requirements
1. Gives user status of any given domain
2. Offers price estimate for an available domain
3. Send email notifications

Features
1. User can provide csv file for multiple entries
2. User can input domain name(s)
3. 

Logic Flow
1. Receive input(s) from user
2. Validate input(s) by checking is domain name is [A-Z,a-z,0-9,_]
3. Make API call
4. Check response.status and response.registered
5. If response.registered is True, return response.name,.contacts
6. If response.registered is False, print that domain is available